.two-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;   
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;       
  word-break: break-word;
  white-space: nowrap;
}
